<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFi7ZbWHiFkuB50Ge8gBXQQUUQedGmj-I</string>
	<key>GCM_SENDER_ID</key>
	<string>565373117849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learn.YammyApp</string>
	<key>PROJECT_ID</key>
	<string>yammyapp1</string>
	<key>STORAGE_BUCKET</key>
	<string>yammyapp1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565373117849:ios:197fcedce8baf13cf91f08</string>
</dict>
</plist>